@media (max-width: 670px) {
    body {
        background-size: cover;
    }
    #header {
        background-size: cover;
    }
    #header img {
        width: 320px;
        height: 320px;
    }

    
}